<div><aside><hr><i>
Učební texty byly zpracovány jako výukové podklady Mimo jiné pro vysoké školy podle zákona č. 111/1998 Sb., jako zdroje podle § 77b odst. 2 písm. b) a d) jako informační zdroje a využít pro zlepšování  kvality podle § 85 písm. b). Studentům jsou tyto zdroje bezplatně k dispozici. Učební texty, jako celý obsah projektu EGOVedu, mohou být dále využity kýmkoliv neomezeně na základě otevřené licence CC s uvedením EGOVedu jako zdroje. V případě potřeby úprav či dotvoření vlastních specialit k obsahu, doporučujeme fork repozitáře na GitHubu.
</i>

</aside></div>